body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    background-color: #1F2937;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

.head-right {
    display: flex;
    gap: 10px;
    color: #e5e7eb;
}

.hero-cont {
    background-color: #1F2937;
    display: flex;
    padding: 100px;
    gap: 40px;
}

.hero {
    background-color: #1F2937;
    color: #FFFFFF;
    display: flex;
    flex-direction: column; 
}

.hero-image {
    width: 350;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.button1 {
    height: 40px;
    width: 150px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    border-style: none;
    margin-top: 20px;
    font-weight: 800;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 30px;
}

.cards{
    display: flex;
    margin: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 75px;
}

.card {
    padding: 10px;
}

.cards img {
    object-fit: cover;
    min-height: 125px;
    min-width: 125px;
    flex-shrink: 0;
}

.subt {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.image-border {
    border-style: solid;
    border-width: 3px;
    border-color: #3882f6;
    border-radius: 10px;
}

.banner {
    background-color: #e5e7eb;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
    
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
    width: 16em; 
}

.banner-quote {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
}

.action {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto
}

.act-box {
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 700px;
    gap: 50px;
}

.act-text {
    font-size: 18px;
    font-weight: 800;
}

.act-text .signup {
    font-size: 14px;
    font-weight: 400;
}

.button2 {
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 5px;
    background-color: #3882f6;
    border-style: solid;
    font-size: 14px;   
}

.footer {
    background-color: #1F2937;
    height: 50px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}